* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  font-size: 100%;
}

ul {
  list-style-type: none;
}

body {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  color: $body-default-color;
  height: 100vh;
  font-family: $body-default-font-family;
  font-size: $base-font-size;
  -webkit-animation: $bg-animation;
	-moz-animation: $bg-animation;
	animation: $bg-animation;
}

.transform {
  opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);
}

.app-appear, .active-appear {
  opacity: 0.01;
}

.app-appear.app-appear-active, .active-appear.active-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
