// @font-face {
// @font-face {
//     font-family: 'Gotham';
//     src: url('./fonts/Gotham-Thin.woff2') format('woff2'),
//         url('./fonts/Gotham-Thin.woff') format('woff');
//     font-weight: 100;
//     font-style: normal;
// }
//
// @font-face {
//     font-family: 'Gotham';
//     src: url('./fonts/Gotham-Light.woff2') format('woff2'),
//         url('./fonts/Gotham-Light.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
// }
//
// @font-face {
//     font-family: 'Gotham';
//     src: url('./fonts/Gotham-Bold.woff2') format('woff2'),
//         url('./fonts/Gotham-Bold.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;
// }


// background animation
$green-blue: linear-gradient(145deg,#c3f0c8,#509bf5);
$greenyellow-blupink: linear-gradient(145deg,#acde5b,#c95ae4);
$yellow-pink: linear-gradient(145deg,#ffc867,#f037a6);
$yellowblue-pink: linear-gradient(145deg,#d65757,#f037a6);
$blue-pink: linear-gradient(145deg,#509bf5,#f037a6);

@keyframes colorchange
{
  0%   {background: $green-blue;}
  25%  {background: $greenyellow-blupink;}
  50%  {background: $yellow-pink;}
  75%  {background: $yellowblue-pink;}
  100% {background: $blue-pink;}
}
@-webkit-keyframes colorchange
{
  0%   {background: $green-blue;}
  25%  {background: $greenyellow-blupink;}
  50%  {background: $yellow-pink;}
  75%  {background: $yellowblue-pink;}
  100% {background: $blue-pink;}
}
$bg-animation: colorchange 50s infinite;

/* Colors*/
$brand-primary: #ff7f00;
$gray: #dddddd;
$light-grey: #f9f9f9;
$dark-grey: #777777;

/*Body*/
$body-background-color: linear-gradient(145deg,#ffc867,#f037a6);
$body-default-color: #1e3264;
$body-default-font-family: Arial, sans-serif;

/* Font sizes*/
$base-font-size: 1.4rem;
$large-font-size: 2.2rem;
