@font-face {
    font-family: 'Gotham';
    src: url('/moodify-new/src/styles/fonts/Gotham-Thin.woff2') format('woff2'),
		     url('/moodify-new/src/styles/fonts/Gotham-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@-webkit-keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

@-moz-keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

@keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}
$bg-animation: Gradient 20s ease infinite;

/* Colors*/
$brand-primary: #ff7f00;
$gray: #dddddd;
$light-grey: #f9f9f9;
$dark-grey: #777777;

/*Body*/
$body-background-color: linear-gradient(145deg,#ffc867,#f037a6) fixed;
$body-default-color: #1e3264;
// $body-default-font-family: Arial, sans-serif;
$body-default-font-family: 'Gotham', sans-serif;

/* Font sizes*/
$base-font-size: 1.4rem;
$large-font-size: 2.2rem;

// Window sizes
$tablet-width: 768px;
$desktop-width: 1024px;
$phone-width: 400px;
$phone-sideways-width: 812px;
