@font-face {
  font-family: 'Gotham';
  src: url("/moodify-new/src/styles/fonts/Gotham-Thin.woff2") format("woff2"), url("/moodify-new/src/styles/fonts/Gotham-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/* Colors*/
/*Body*/
/* Font sizes*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  height: 100vh;
  font-size: 100%; }

ul {
  list-style-type: none; }

body {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  color: #1e3264;
  height: 100vh;
  font-family: "Gotham", sans-serif;
  font-size: 1.4rem;
  -webkit-animation: Gradient 20s ease infinite;
  -moz-animation: Gradient 20s ease infinite;
  animation: Gradient 20s ease infinite; }

.transform {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0); }

.app-appear, .active-appear {
  opacity: 0.01; }

.app-appear.app-appear-active, .active-appear.active-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in; }

.app-container {
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
  height: 80%;
  flex-flow: wrap; }

.app-container_outer-box {
  flex-grow: 1;
  flex-basis: 0;
  margin: 30px 50px;
  height: 100%; }

.app-container_outer-box_loading {
  display: flex;
  align-items: center; }

.app-container_inner-box {
  border: 2px solid white;
  height: 80%;
  overflow-y: scroll;
  padding: 10px;
  transition: .5s ease; }

.app-container_inner-box:hover {
  box-shadow: inset 0 0 10px white; }

.app-container_header {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 35px; }

.app-container_header-with-subtitle {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 35px; }

.app-container_header_subtitle {
  font-size: 15px;
  font-weight: 100; }

.app-container_playlist {
  padding: 20px;
  border-bottom: 1px solid white;
  transition: .5s ease; }

.app-container_track {
  padding: 10px 30px;
  font-size: 18px;
  border-bottom: 1px solid white; }

.app-container_playlist:hover {
  cursor: pointer;
  background-color: rgba(239, 239, 239, 0.3); }

.app-container_playlist-subtitle {
  font-size: 15px;
  font-style: italic; }

.active {
  background-color: rgba(239, 239, 239, 0.8); }

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  position: fixed;
  bottom: 0;
  right: 0; }

.footer_button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #1e3264; }
  .footer_button img {
    width: 20px; }

.footer_button-close {
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 2em;
  margin-right: 2em;
  border: 2px solid white;
  padding: 20px;
  border-radius: 100px; }

.footer_about-body {
  font-size: 16px;
  margin-top: 1em;
  line-height: 2; }

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
  opacity: 0;
  transition: opacity 500ms ease-in-out; }

@media (max-width: 400px) {
  .ReactModal__Content {
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    padding: 1em !important; } }

@media (max-width: 812px) {
  .ReactModal__Content {
    top: 5% !important;
    bottom: 5% !important;
    right: 5% !important;
    left: 5% !important;
    padding: 1em !important; } }

.ReactModal__Overlay--after-open {
  opacity: 1; }

.ReactModal__Overlay--before-close {
  opacity: 0; }

.header {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header-options {
  display: flex;
  align-items: flex-end;
  flex-direction: column; }
  .header-options a {
    text-decoration: none;
    color: #1e3264; }

.header-subtitle {
  font-weight: lighter;
  font-size: 16px; }
  @media (max-width: 400px) {
    .header-subtitle {
      display: none; } }

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; }
